h3{
    text-align: right;
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
    color: red;
}
#intro p{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    word-spacing: 1px;
}
#footer p{
    font-size: large;
    font-style: italic;
    color: coral;
    position: fixed;
    bottom: 0;
    text-align: center;
    /* left: 0; */
    width: 100%;
}
table,th,td{
    border: 6px solid green;
    border-collapse: collapse;
    width: 60%;
    text-align: center;
    padding: 12px;
    align-content: center;
    margin: auto;
}
.material-symbols-outlined {  
color:red;  
font: size 100px;
margin: 10px;
text-align: center;
}
.material-symbols-outlined {
    color:red;  
font: size 100px;
margin: 10px;
text-align: center;
}
  
#link {
    text-align: center;
}
a:hover{
    cursor: pointer;
    color: brown;
}
a{
    text-decoration: none;
}
body{
    min-height: 100vh;
}